
prototyp1/build-tmp/prototyp1$Company.class

prototyp1/build-tmp/prototyp1.class

prototyp1/build-tmp/prototyp1$City.class

prototyp1/build-tmp/prototyp1$Simulation.class

prototyp1/build-tmp/source/prototyp1.java

prototyp1/sketch.properties

*.class

*.java
